# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
env/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Logs and data
debug.log
*.log
*.csv
probe_log*

# IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Misc
*.bak
*.swp 